<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ravinthiran Partheepan - Contact</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="/images/icon.png" rel="icon">
  <link href="/images/icon.png" rel="apple-touch-icon">


  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link href="/assets/vendor/aoss/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstraps/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-iconss/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxiconss/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/swipers/swiper-bundle.min.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="/assets/css/styles.css" rel="stylesheet">


</head>

<body>


  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1><a href="/">Ravinthiran Partheepan</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/npm">My-NPM-Packages</a></li>
          <li><a href="/ethapp">Ethereum Shop</a></li>
          <li><a href="https://rarible.com/token/0xf6793da657495ffeff9ee6350824910abc21356c:89924258366811623875109034533533048737172702265033712914275818847697259986946?tab=details">NFT Shop</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/contact">Contact</a></li>
          <li class="dropdown"><a href="/works"><span>Github</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="https://github.com/ravinthiranpartheepan1407/VPS_mongodb">VPS - Full Stack Web</a></li>
              <li><a href="https://github.com/ravinthiranpartheepan1407/Data-Science-Projects">AI & Machine Learning</a></li>
              <li><a href="https://github.com/ravinthiranpartheepan1407/Full_Stack_Web_Development_Apps">Blockchain Development</a></li>


            </ul>
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <main id="main">

    <section class="hero-section inner-page">
      <div class="wave">

        <svg width="1920px" height="265px" viewBox="0 0 1920 265" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
              <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
            </g>
          </g>
        </svg>

      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-md-7 text-center hero-text">
                <h1 data-aos="fade-up" data-aos-delay="">Create Your CV</h1>
                <p class="mb-5" data-aos="fade-up" data-aos-delay="100">It's a perfect time to create your cv/resume</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
<form action="/resumeform" method="post" class="php-email-form">
    <section id="section" class="section">
      <div class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>Your Personal Information</h2>
            <p class="mb-0">Provide your personal information in the below section</p>
          </div>

        </div>

        <div class="row">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="name">Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <label for="name">Email</label>
              <input type="text" class="form-control" name="email" id="email" required>
            </div>
            <div class="col-md-12 form-group mt-3">
              <label for="name">website</label>
              <input type="text" class="form-control" name="website" id="subject" required>
            </div>
            <div class="col-md-12 form-group mt-3">
              <label for="name">LinkedIn</label>
              <input type="text" class="form-control" name="linkedin" id="subject" required>
            </div>
            <div class="col-md-12 form-group mt-3">
              <label for="name">Github</label>
              <input type="text" class="form-control" name="github" id="subject" required>
            </div>
            <div class="col-md-12 form-group mt-3">
              <label for="name">Career Profile</label>
              <textarea class="form-control" name="careerprofile" required></textarea>
            </div>




          </div>
          </div>

          </div>

    </section>

    <section style=" background: linear-gradient(to right, #100028 5%, rgba(61, 179, 197, 0.8) 150%);" class="section cta-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 me-auto text-center text-md-start mb-5 mb-md-0">
            <h2>Experience Section</h2>
          </div>
          <div class="col-md-5 text-center text-md-end">
            <p><button id="newsectionbtn" class="btn d-inline-flex align-items-center"><i class="bx bx-plus"></i><span>Add More Experience</span></button> <a href="#sectionnews" class="btn d-inline-flex align-items-center"><i class="bx bxs-like bx-fade-down"></i><span>Next Section</span></a></p>
          </div>
        </div>
      </div>
    </section>

    <section id="sectionnew" class="section">
      <div id="containernew" class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>Experience</h2>
            <p class="mb-0">Share your working experience / hands-on experience information here</p>
          </div>

        </div>

        <div class="row">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="name">Job Position</label>
              <input type="text" name="jobposition" class="form-control" id="name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <label for="name">Duration</label>
              <input type="text" class="form-control" name="duration" id="email" required>
            </div>
            <div class="col-md-12 form-group mt-3">
              <label for="name">Company</label>
              <input type="text" class="form-control" name="company" id="subject" required>
            </div>
            <div class="col-md-12 form-group mt-3">
               <label for="name">Role Description</label>
               <textarea class="form-control" name="roledescription" required></textarea>
             </div>



          </div>
          </div>

          </div>

    </section>

    <section style=" background: linear-gradient(to right, #100028 5%, rgba(61, 179, 197, 0.8) 150%);" class="section cta-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 me-auto text-center text-md-start mb-5 mb-md-0">
            <h2>Project Section</h2>
          </div>
          <div class="col-md-5 text-center text-md-end">
            <p><button id="newsectionbtns" class="btn d-inline-flex align-items-center"><i class="bx bx-plus"></i><span>Add More Works</span></button> <a href="#sectionnewss" class="btn d-inline-flex align-items-center"><i class="bx bxs-like bx-fade-down"></i><span>Next Section</span></a></p>

          </div>
        </div>
      </div>
    </section>


    <section id="sectionnews" class="section">
      <div id="containernews" class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>Projects/Research</h2>
            <p class="mb-0">Share your Projects / Research works information in the below section</p>
          </div>

        </div>

        <div class="row">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="name">Project Overview</label>
              <input type="text" name="projectoverview" class="form-control" id="name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <label for="name">Project Title</label>
              <input type="text" class="form-control" name="projecttitle" id="email" required>
            </div>
           <div class="col-md-12 form-group mt-3">
              <label for="name">Project Short Description</label>
              <textarea class="form-control" name="projectshortdescription" required></textarea>
            </div>




          </div>
          </div>

          </div>

    </section>

    <section style=" background: linear-gradient(to right, #100028 5%, rgba(61, 179, 197, 0.8) 150%);" class="section cta-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 me-auto text-center text-md-start mb-5 mb-md-0">
            <h2>Skills Analysis</h2>
          </div>
          <div class="col-md-5 text-center text-md-end">
            <p><button id="newsectionbtnss" class="btn d-inline-flex align-items-center"><i class="bx bx-plus"></i><span>Add More Skills</span></button> <a href="#finish" class="btn d-inline-flex align-items-center"><i class="bx bxs-like bx-fade-down"></i><span>Next Section</span></a></p>

          </div>
        </div>
      </div>
    </section>

    <section id="sectionnewss" class="section">
      <div id="containernewss" class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>Skills Analysis</h2>
            <p class="mb-0">Share your skill set information in the below section</p>
          </div>

        </div>

        <div class="row">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="name">skill - 1 (100%)</label>
              <input type="text" name="skill" class="form-control" id="skill" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <label for="name">skill - 2 (90%)</label>
              <input type="text" class="form-control" name="skills" id="email" required>
            </div>
            <div class="col-md-12 form-group mt-3">
              <label for="name">skill - 3 (90%)</label>
              <input type="text" class="form-control" name="skillss" id="subject" required>
            </div>
            <div class="col-md-12 form-group mt-3">
              <label for="name">skill - 4 (85%)</label>
              <input type="text" class="form-control" name="skillsss" id="subject" required>
            </div>
            <div class="col-md-12 form-group mt-3">
              <label for="name">skill - 5 (80%)</label>
              <input type="text" class="form-control" name="skillssss" id="subject" required>
            </div>
            <div class="col-md-12 form-group mt-3">
              <label for="name">skill - 6 (70%)</label>
              <input type="text" class="form-control" name="skillsssss" id="subject" required>
            </div>





          </div>
          </div>

          </div>

    </section>

    <section id="finish" style=" background: linear-gradient(to right, #100028 5%, rgba(61, 179, 197, 0.8) 150%);" class="section cta-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 me-auto text-center text-md-start mb-5 mb-md-0">
            <h2>Great! Get Your CV Now</h2>
          </div>
          <div class="col-md-5 text-center text-md-end">
            <p><button type="submit" class="btn d-inline-flex align-items-center"><i class="bx bxs-like bx-burst"></i><span>Submit</span></button>&nbsp<a href="#section" class="btn d-inline-flex align-items-center"><i class="bx bxs-bell bx-tada"></i><span>Check Info</span></a></p>
          </div>
        </div>
      </div>
    </section>



</form>

  </main>


 <footer class="footer" role="contentinfo">
   <div class="container">
     <div class="row">
       <div class="col-md-4 mb-4 mb-md-0">
         <h3>About Ravinthiran Partheepan</h3>
         <p style="text-align: justify !important;">I am an Artificial Intelligence Researcher, Blockhain ETH Smartcontracts And Dapps Developer, Full Stack Developer, Comic Book Writer and VFX Film Maker</p>
         <p class="social">
           <a href="#"><span class="bi bi-twitter"></span></a>
           <a href="#"><span class="bi bi-facebook"></span></a>
           <a href="#"><span class="bi bi-instagram"></span></a>
           <a href="https://www.linkedin.com/in/ravinthiran-partheepan-8a5100131"><span class="bi bi-linkedin"></span></a>
         </p>
       </div>
       <div class="col-md-7 ms-auto">
         <div class="row site-section pt-0">
           <div class="col-md-4 mb-4 mb-md-0">
             <h3>Navigation</h3>
             <ul class="list-unstyled">
               <li><a href="/shop">Shop</a></li>
               <li><a href="/works">Works</a></li>
               <li><a href="/home"></a>Home</li>
               <li><a href="/contact">Contact</a></li>
             </ul>
           </div>

           <div class="col-md-4 mb-4 mb-md-0">
             <h3>Shop</h3>
             <ul class="list-unstyled">
               <li><a href="/shop">Shop</a></li>
               <li><a href="/ethapp">Ethereum Dapp</a></li>
               <li><a href="/home"></a>Home</li>
               <li><a href="/contact">Contact</a></li>
             </ul>
           </div>

           <div class="col-md-4 mb-4 mb-md-0">
             <h3>Downloads</h3>
             <ul class="list-unstyled">
               <li><a href="#">Get from the Play Store</a></li>
             </ul>
           </div>
         </div>
       </div>
     </div>

     <div class="row justify-content-center text-center">
       <div class="col-md-7">
         <p class="copyright">&copy; Copyright Ravinthiran Partheepan. All Rights Reserved</p>
         <div class="credits">

           Developed by <a href="/">Ravinthiran Partheepan</a>
         </div>
       </div>
     </div>

   </div>
 </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <script src="/assets/vendor/aoss/aos.js"></script>
  <script src="/assets/vendor/bootstraps/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/swipers/swiper-bundle.min.js"></script>


  <script src="/assets/js/mains.js"></script>
  <script type="text/javascript">
    document.getElementById("newsectionbtn").onclick = function() {
  var container = document.getElementById("containernew");
  var section = document.getElementById("sectionnew");
  container.appendChild(section.cloneNode(true));
}
  </script>

  <script type="text/javascript">
    document.getElementById("newsectionbtns").onclick = function() {
  var container = document.getElementById("containernews");
  var section = document.getElementById("sectionnews");
  container.appendChild(section.cloneNode(true));
}
  </script>

  <script type="text/javascript">
    document.getElementById("newsectionbtnss").onclick = function() {
  var container = document.getElementById("containernewss");
  var section = document.getElementById("sectionnewss");
  container.appendChild(section.cloneNode(true));
}
  </script>
  <script>
    (function($){
      $(document).on('contextmenu', 'body', function() {
          return false;
      })
    })(jQuery);
  </script>

</body>

</html>
