<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ravinthiran Partheepan - Shop</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="/images/icon.png" rel="icon">
  <link href="/images/icon.png" rel="apple-touch-icon">


  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aoss/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstraps/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-iconss/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxiconss/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/swipers/swiper-bundle.min.css" rel="stylesheet">


  <link href="/assets/css/styles.css" rel="stylesheet">


</head>

<body>


  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1><a href="/">Ravinthiran Partheepan</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/ethapp">Ethereum Shop</a></li>
          <li><a href="https://rarible.com/token/0xf6793da657495ffeff9ee6350824910abc21356c:89924258366811623875109034533533048737172702265033712914275818847697259986946?tab=details">NFT Shop</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/contact">Contact</a></li>
          <li class="dropdown"><a href="/works"><span>Github</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="https://github.com/ravinthiranpartheepan1407/VPS_mongodb">VPS - Full Stack Web</a></li>
              <li><a href="https://github.com/ravinthiranpartheepan1407/Data-Science-Projects">AI & Machine Learning</a></li>
              <li><a href="https://github.com/ravinthiranpartheepan1407/Full_Stack_Web_Development_Apps">Blockchain Development</a></li>


            </ul>
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <main id="main">


    <div class="hero-section inner-page">
      <div class="wave">

        <svg width="1920px" height="265px" viewBox="0 0 1920 265" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
              <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
            </g>
          </g>
        </svg>

      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-md-7 text-center hero-text">
                <h1 style="font-size: 50px;" data-aos="fade-up" data-aos-delay="">Welcome to my shop page</h1>
                <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Interested in buying my books and covers! Check it out below</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <section class="section">
      <div class="container">


        <div class="row align-items-stretch">



        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="pricing h-100 text-center">

              <span>&nbsp;</span>
              <img style="width: 200px; height: 200px; border-radius: 2.50rem;" src="/images/Blockchain.jpg" alt="">
              <h3>Blockchain - 1.0</h3>
              <ul class="list-unstyled">
                <li>Frontier Tech</li>
                <li>Type: Color</li>
              </ul>
              <div class="price-cta">
                <strong class="price">14,99 - EUROS</strong>
                <a class="pay-buttons btn btn-primary" href="https://buy.stripe.com/test_3cs3cPfmRcYm89iaEE">Buy</a>
                <div id="status"></div>
              </div>

            </div>
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="pricing h-100 text-center popular">
              <img style="width: 200px; height: 200px; border-radius: 2.50rem;" src="/images/RosieComic2.png" alt="">
              <h3>Rosie Volume 1</h3>
              <ul class="list-unstyled">
                <li>Comics</li>
                <li>Type: Color</li>
              </ul>
              <div class="price-cta">
                <strong class="price">15,99 - EUROS</strong>
                <a class="pay-button btn btn-primary" href="https://buy.stripe.com/test_eVa8x9deJ4rQ61adQR">Buy</a>
                <div id="status"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="pricing h-100 text-center">
              <img style="width: 200px; height: 200px; border-radius: 2.50rem;" src="/images/PBCUP.jpg" alt="">
              <h3>PB Neural Learner</h3>
              <ul class="list-unstyled">
                <li>Comics</li>
                <li>Type: Color</li>
              </ul>
              <div class="price-cta">
                <strong class="price">8,99 - EUROS</strong>
                <a class="pays-button btn btn-primary" href="https://buy.stripe.com/test_8wM8x93E98I6gFOeUW">Buy</a>
                <div id="status"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section style=" background: linear-gradient(to right, #100028 5%, rgba(61, 179, 197, 0.8) 150%);" class="section cta-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 me-auto text-center text-md-start mb-5 mb-md-0">
            <h2>Get my products from google play and amazon kindle</h2>
          </div>
          <div class="col-md-5 text-center text-md-end">
            <p><a href="https://play.google.com/store/books/author?id=Ravinthiran+partheepan" class="btn d-inline-flex align-items-center"><i class="bx bxl-google"></i><span>Get My Books</span></a> <a href="https://www.amazon.com/s?i=digital-text&rh=p_27%3ARavinthiran+Partheepan&s=relevancerank&text=Ravinthiran+Partheepan&ref=dp_byline_sr_ebooks_1" class="btn d-inline-flex align-items-center"><i class="bx bxl-amazon"></i><span>Get Books</span></a></p>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="section">
      <div class="container">

        <div class="row justify-content-center text-center">
          <div class="col-md-7 mb-5">
            <h2 class="section-heading">Virtual Reality One Time Session</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere illum obcaecati inventore velit laborum earum.</p>
          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="pricing h-100 text-center">
              <span>&nbsp;</span>
              <h3>Basic</h3>
              <ul class="list-unstyled">
                <li>Create up to 5 forms</li>
                <li>Generate 100 monthly reports</li>
              </ul>
              <div class="price-cta">
                <strong class="price">Free</strong>
                <p><a href="#" class="btn btn-white">Choose Plan</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="pricing h-100 text-center popular">
              <span class="popularity">Most Popular</span>
              <h3>Professional</h3>
              <ul class="list-unstyled">
                <li>Create up to 20 forms</li>
                <li>Generate 2500 monthly reports</li>
                <li>Manage a team of up to 5 people</li>
              </ul>
              <div class="price-cta">
                <strong class="price">$9.95/month</strong>
                <p><a href="#" class="btn btn-white">Choose Plan</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="pricing h-100 text-center">
              <span class="popularity">Best Value</span>
              <h3>Ultimate</h3>
              <ul class="list-unstyled">
                <li>Create up to 20 forms</li>
                <li>Generate 2500 monthly reports</li>
                <li>Manage a team of up to 5 people</li>
              </ul>
              <div class="price-cta">
                <strong class="price">$199.95/month</strong>
                <p><a href="#" class="btn btn-white">Choose Plan</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section style="background: linear-gradient(to right, #100028 50%, rgba(61, 179, 197, 0.8) 150%);" class="section">
      <div class="container">

        <div class="row justify-content-center text-center">
          <div class="col-md-7 mb-5">
            <h2 style="color: white !important;" class="section-heading">Comic Books</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere illum obcaecati inventore velit laborum earum.</p>
          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="pricing h-100 text-center">
              <span>&nbsp;</span>
              <h3>Basic</h3>
              <ul class="list-unstyled">
                <li>Create up to 5 forms</li>
                <li>Generate 100 monthly reports</li>
              </ul>
              <div class="price-cta">
                <strong class="price">Free</strong>
                <p><a href="#" class="btn btn-white">Choose Plan</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="pricing h-100 text-center popular">
              <span class="popularity">Most Popular</span>
              <h3>Professional</h3>
              <ul class="list-unstyled">
                <li>Create up to 20 forms</li>
                <li>Generate 2500 monthly reports</li>
                <li>Manage a team of up to 5 people</li>
              </ul>
              <div class="price-cta">
                <strong class="price">$9.95/month</strong>
                <p><a href="#" class="btn btn-white">Choose Plan</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="pricing h-100 text-center">
              <span class="popularity">Best Value</span>
              <h3>Ultimate</h3>
              <ul class="list-unstyled">
                <li>Create up to 20 forms</li>
                <li>Generate 2500 monthly reports</li>
                <li>Manage a team of up to 5 people</li>
              </ul>
              <div class="price-cta">
                <strong class="price">$199.95/month</strong>
                <p><a href="#" class="btn btn-white">Choose Plan</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main> -->


  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <h3>About Ravinthiran Partheepan</h3>
          <p style="text-align: justify !important;">I am an Artificial Intelligence Researcher, Blockhain ETH Smartcontracts And Dapps Developer, Full Stack Developer, Comic Book Writer and VFX Film Maker</p>
          <p class="social">
            <a href="#"><span class="bi bi-twitter"></span></a>
            <a href="#"><span class="bi bi-facebook"></span></a>
            <a href="#"><span class="bi bi-instagram"></span></a>
            <a href="#"><span class="bi bi-linkedin"></span></a>
          </p>
        </div>
        <div class="col-md-7 ms-auto">
          <div class="row site-section pt-0">
            <div class="col-md-4 mb-4 mb-md-0">
              <h3>Navigation</h3>
              <ul class="list-unstyled">
                <li><a href="/shop">Shop</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/home"></a>Home</li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>

            <div class="col-md-4 mb-4 mb-md-0">
              <h3>Shop</h3>
              <ul class="list-unstyled">
                <li><a href="/shop">Shop</a></li>
                <li><a href="/ethapp">Ethereum Dapp</a></li>
                <li><a href="/home"></a>Home</li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>

            <div class="col-md-4 mb-4 mb-md-0">
              <h3>Downloads</h3>
              <ul class="list-unstyled">
                <li><a href="#">Get from the Play Store</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <p class="copyright">&copy; Copyright Ravinthiran Partheepan. All Rights Reserved</p>
          <div class="credits">

            Developed by <a href="/">Ravinthiran Partheepan</a>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aoss/aos.js"></script>
  <script src="/assets/vendor/bootstraps/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/swipers/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/mains.js"></script>

</body>

</html>
